<?xml version="1.0" encoding="UTF-8"?>
<settings>
    <interactiveMode>false</interactiveMode>
    <mirrors>
        <mirror>
            <id>central-mirror</id>
            <url>https://artifact.intuit.com/artifactory/maven-public</url>
            <mirrorOf>*</mirrorOf>
        </mirror>
    </mirrors>
    <servers>
        <server>
            <id>scm.dev.snap.repo</id>
            <username>${env.MAVEN_ARTIFACTORY_USERID}</username>
            <password>${env.MAVEN_ARTIFACTORY_TOKEN}</password>
        </server>
        <server>
            <id>scm.int.rel.repo</id>
            <username>${env.MAVEN_ARTIFACTORY_USERID}</username>
            <password>${env.MAVEN_ARTIFACTORY_TOKEN}</password>
        </server>
    </servers>
</settings>
